<!doctype html>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-1OYccka9EByiS23wvPFiYHBPRAgU91xYVFb8g8sen6vRiBI5Uko6+B87q8zPGUnA" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/gif" href="img/washelitecoin.gif" />
    <title>UniLogin</title>
</head>
<body class="">
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script> -->
  <!-- <script src="https://app.tor.us/v0.2.11/embed.min.js"
        integrity="sha384-EF5TqjR+fJ997S/tvlleO5ne0HG+k3sUnoUkKg7VXwBCEfAEk1kRdA2CR6VKfHlm"
        crossorigin="anonymous"></script> -->
  <!-- <script src="js/main.js"></script> -->
  <!-- <nav class="navbarCustom navbar-dark bg-primary">
    <span class="open-slide">
      <a href="#" onclick="openSideMenu()">
        <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
        </svg>
      </a>
    </span>
    <ul class="navbarCustom-nav">
      <li><a href="index">Elite Tokens</a></li>
      <li><a href="wallet">Wallet</a></li>
      <li><a href="admin">Admin</a></li>
    </ul>
    <h2 id="titleLogo">Washington Elite</h2>
    <div id="login">
      <button class="btn btn-outline-light btn-lg" onclick="connectM()">Login</button>
    </div>
  </nav> -->
  <!-- <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
    <a href="index">Elite Tokens</a>
    <a href="wallet">Wallet</a>
    <a href="admin">Admin</a>
    <p id="sideAccount" onclick="connectM()">Login</p>
    <p id="sideAccountAddress"></p>
  </div> -->



  <div id="main">
    {{{body}}}
  </div>
</body>
<footer>
  <div class="content has-text-centered">
  </div>

</footer>

</html>
